.bg-warning{
    background-color: rgb(228, 182, 33);
    text-align: center;
    color: white;
}
h2{
    font-size: 47px;
    border: 4px dotted red;
    border-radius: 27px;
    padding: 15px 20px;
}